<div class="tweets-eachTweet clearfix">
  <div class="userImage pull-left">
    <%= link_to user_path(tweet.user_id) do %>
      <%= image_tag tweet.user.image, class: "userImage_small" %>
    <% end %>
  </div>
  <div class="tweetInfo">
    <span>
      <%= link_to user_path(tweet.user_id), class: "userName" do%>
      @<%= tweet.user.name %>
      <% end %>
    </span>
    <span>
      <%= link_to tweet_path(tweet.id), class: "tweet-created_at" do %>
        <%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <% end %>
    </span>
  </div>
  <div class="tweetContent">
    <%= simple_format(h(tweet.content)) %>
  </div>
</div>