<div class="tweets-index">
  <% if alert %>
    <ul class="alert">
      <% alert.each do |a| %>
        <li>
          <%= a %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="postForm clearfix">
    <%= form_for @tweet do |f| %>
      <%= f.text_area :content, rows: 3, placeholder: "140字以内で投稿してください", class: "form-control" %>
      <%= f.submit "投稿", class: "btn btn-default pull-right" %>
    <% end %>
  </div>
  <div class="tweetList">
    <% if @tweets.length == 0 %>
      ツイートはありません
    <% else %>
      <% @tweets.each do |tweet| %>
        <%= render 'tweets/eachTweet', tweet: tweet %>
      <% end %>
      <div class="pagination">
        <%= paginate @tweets %>
      </div>
    <% end %>
  </div>
</div>