<div class="users-show">
  <div class="userInfo clearfix">
    <div class="userImage pull-left">
      <%= link_to user_path(@user.id) do %>
        <% if @user.image.nil? %>
          NO IMAGE
        <% else %>
          <%= image_tag @user.image, class: "userImage_big" %>
        <% end %>
      <% end %>
    </div>
    <span>
      @<%= @user.name %>
    </span>
    <span class="lastLogin">
      最終ログイン日：<%= current_user.current_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </span>
    <p>
      プロフィール<br />
      <%= @user.profile %>
    </p>
  </div>
  <div class="tweetInfo">
    <% if @tweets.length == 0 %>
      ツイートはありません
    <% else %>
      <% @tweets.each do |tweet| %>
        <%= render 'tweets/eachTweet', tweet: tweet %>
      <% end %>
      <%= paginate @tweets %>
    <% end %>
  </div>
  <%= link_to '戻る', :back %>
</div>