<!DOCTYPE html>
<html>
<head>
  <title>ElitesTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <div class="header clearfix">
      <span class="appName">
        <%= link_to root_path do %>
          Twitter
        <% end %>
      </span>
      <span class="pull-right menu">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id) do %>
            @<%= current_user.name %>
          <% end %>
          <%= link_to '設定変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </span>
      <% if user_signed_in? %>
      <span class="search pull-right">
        <%= search_form_for @q, url: root_path do |f| %>
          <%= f.search_field :content_cont, placeholder: "tweetを検索" %>
          <%= f.submit "検索", class: "btn btn-default btn-sm" %>
        <% end %>
      </span>
      <% end %>
    </div>
    <div class="notice">
      <%= notice %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-8 col-sm-12">
          <%= yield %>
        </div>
        <div class="col-md-2 col-sm-0"></div>
      </div>
    </div>
  </div>
</body>
</html>
